body {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


.wrapper {
    width: 1215px;
    height: 1064px;
    margin: 0 auto;
    background-image: url('../img/background.png');
}

.menu {
    width: 1215px;
    background-color: #085596;
    overflow: hidden;
}

.menu li {
    float: right;
}

a {
    display: block;
    padding: 0 18px;
    color: #60b5ed;
    font-size: 14px;
    line-height: 36px;
    text-decoration: none;
}

span {
    color: #fff;
    font-size: 14px;
    text-decoration: underline;
}

.menu .select {
    background-color: #4eabda;
    color: #fff;
}

.entrance {
    margin-right: 20px;
    border-right: 1px solid #479ad4;
    border-left: 1px solid #479ad4;
    background: linear-gradient(to bottom, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
    background: -moz-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
    background: -webkit-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#87e0fd', endColorstr='#05abe0', GradientType=0);
}

.menu .flagged {
    border-left: 1px solid #56a2dc;
    color: #fff;
}

.flagged img {
    margin: 5px 5px -7px 0;
}
/* END menu */

.container {
    width: 560px;
    height: 613px;
    margin: 213px auto auto 356px;
    background-color: rgba(0, 0, 0, .6);
}

.header p {
    border-bottom: 2px solid #cad0c2;
    color: #fff;
    font-size: 24px;
    line-height: 62px;
    text-align: center;
}

.fb {
    width: 276px;
    margin: 35px auto 30px;
    border-top: 1px solid #7b8cb8;
    border-radius: 5px;
    background-color: #354c8f;
    color: #fff;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
}

.fb a {
    padding: 0;
    color: #fff;
    line-height: 35px;
}

.fb img {
    display: block;
    padding: 7px 13px 7px 15px;
    float: left;
    border-right: 1px solid #213c71;
}

.fb span {
    padding: 0;
    font-weight: bold;
    line-height: 35px;
    text-decoration: none;
}
/* END fb */

.ou {
    width: 277px;
    margin: 0 auto 20px;
    text-align: center;
}

.ou span {
    margin: 0 5px;
    color: #999;
    line-height: 30px;
    text-decoration: none;
}

.ou img {
    padding: 4px 0;
}

form {
    width: 276px;
    margin: 0 auto;
}

.input-field {
    width: 276px;
    margin: 0 auto;
    box-sizing: border-box;
}

.input-field > input {
    width: 240px;
    margin: 0 auto 14px;
    padding: 13px 18px 10px;
    border: 0;
    border-bottom: 1px solid #484848;
    background-color: #100f0f;
    color: #fff;
    line-height: 11px;
}

.input-field .active {
    border-bottom: 1px solid #689bcc;
    background-color: #1b5288;
    color: #fff;
    -moz-box-shadow: 0 0 9px 0 rgba(156, 240, 255, 1);
    -webkit-box-shadow: 0 0 9px 0 rgba(156, 240, 255, 1);
    box-shadow: 0 0 9px 0 rgba(156, 240, 255, 1);
}

.input-field input:focus {
    border-bottom: 1px solid #689bcc;
    background-color: #1b5288;
    color: #fff;
    -moz-box-shadow: 0 0 9px 0 rgba(156, 240, 255, 1);
    -webkit-box-shadow: 0 0 9px 0 rgba(156, 240, 255, 1);
    box-shadow: 0 0 9px 0 rgba(156, 240, 255, 1);
}

.check-field {
    margin: 0 auto 23px;
}

label {
    padding-left: 5px;
    color: #ccc;
    font-size: 14px;
}
/* END input-field */

.btn {
    text-align: center;
}

.btn input {
    width: 150px;
    height: 34px;
    margin: 0 67px 15px;
    border-top: 1px solid #62c0e3;
    border-radius: 5px;
    background: linear-gradient(to bottom, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
    background: -moz-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
    background: -webkit-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
    color: #fff;
    font-size: 14px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#87e0fd', endColorstr='#05abe0', GradientType=0);
}

.policy p {
    color: #ccc;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
}
/* END container */
